{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <article class="media">
        <div class="media-content">
            <form action="{% url 'edit_task' task.id %}" method="POST">{% csrf_token %}
                <!-- <input type="hidden" name="task_id" value="{{ task.id }}"> -->
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" name="task">{{ task.task }}</textarea>
                    </p>
                </div>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <button class="button is-info" type="Submit">Сохранить</button>
                        </div>
                        <div class="level-item">
                            <a href="{% url 'tdlists' %}">Отмена</a>
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </article>

</div>




{% endblock %}